.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ec6464;
  border: 1px solid #bc5031;
  color: whitesmoke;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #bc5031;
  border-color: #bc5031;
}